# {{ ansible_managed }}
#
# To use this specific configuration with borg-wrapper, use it like this;
#   BCONF={{ hostvars[borg_server_item].inventory_hostname_short }} borg-wrapper.sh

BORG_REPO="ssh://{{ borg_server_user }}@{{ borg_server_address }}:{{ borg_server_port}}/~/{{ borg_server_bdir }}"
